@using ParserWeb.Models
@model IEnumerable<SiteContent>
@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Result" method="get">
    <p>
        Site URL: <input type="text" name="site" />
        <input type="submit" value="Print statistics" />
    </p>
</form>

<table class="table">
    @foreach (SiteContent c in Model)
    {
            <tr> <td>@c.Site.Date</td> <td>@c.Site.Site</td> <td>@c.Word</td> <td>@c.Count</td> </tr>
    }
</table>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
